{% extends "base.html" %}

{% block app_content %}
    <h2>Audit Log</h2>
    <div id="audit-table"></div>

<script type="text/javascript">

var table = new Tabulator("#audit-table", {
    //height:300,
    layout:"fitDataFill",
    history:true,
    addRowPos:"bottom",
    fitColumns:true,
    columns:[
        {title:"ID", field:"id", visible:false},
        {title:"Chg Type", field:"chg_type", width:100, headerFilter:"input"},
        {title:"Entity", field:"chg_table", width:100, headerFilter:"input"},
        {title:"Object", field:"chg_object", width:150, headerFilter:"input"},
        {title:"Field", field:"chg_field", width:150, headerFilter:"input"},
        {title:"New Value", field:"chg_new_value", width:250, headerFilter:"input"},
        {title:"Timestamp", field:"timestamp", width:170, headerFilter:"input"},
        {title:"User", field:"username", width:150, headerFilter:"input"},
    ],
});

table.setData("/api/audit/get_all");

</script>

{% endblock %}