{% extends 'bootstrap/base.html' %}

{% block head %}
    {{ super() }}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tabulator/4.0.5/js/tabulator.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tabulator/4.0.5/js/jquery_wrapper.js"></script>
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}

{% block title %}
    {% if title %}
    ConsultPlanner - {{ title }}
    {% else %}
    ConsultPlanner
    {% endif %}
{% endblock %}

{% block styles %}
    {{super()}}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/tabulator/4.0.5/css/bootstrap/tabulator_bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/flatly/bootstrap.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">ConsultPlanner</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('toggle_grouping') }}">Group by
                        {% if current_user.view_mode == 2 %} Project
                        {% else %} Person
                        {% endif %}
                    </a></li>
                    <li><a href="{{ url_for('chart') }}">Chart</a></li>
                    <li><a href="{{ url_for('export') }}">Export</a></li>
                    <li><a href="{{ url_for('auditlog') }}">Log</a></li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    {% else %}

                    {% if current_user.is_admin %}
                    <li><a href="{{ url_for('projectadmin') }}">Project Admin</a></li>
                    <li><a href="{{ url_for('useradmin') }}">User Admin</a></li>
                    {% else %}
                    <li><a href="{{ url_for('chgpwd') }}">Change Password</a></li>
                    {% endif %}

                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
</nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {% block app_content %}{% endblock %}
    </div>
{% endblock %}
