{% extends "base.html" %}

{% block app_content %}
    <h2>Charts <a style="text-decoration:none" href="/chart?year={{year-1}}">&larr;</a>{{year}}<a style="text-decoration:none" href="/chart?year={{year+1}}">&rarr;</a></h2>
    <br/>
    <div hidden id="info" class="alert alert-info" role="alert"></div>
    <div hidden id="warning" class="alert alert-dismissible alert-danger" role="alert"></div>

    <script>
      function drawChart(chartCanvas, apiAddr, chartType) {

        var jsonData = $.ajax({
          url: apiAddr,
          dataType: 'json',
          type: 'get'
        }).done(function (results) {
          var labels = [], data=[], colors=[];

          var rndColor = function() {
              var r = Math.floor(Math.random() * 255);
              var g = Math.floor(Math.random() * 255);
              var b = Math.floor(Math.random() * 255);
              return "rgb(" + r + "," + g + "," + b + ")";
          };

          results.forEach(function(packet) {
            labels.push(packet.label);
            data.push(parseFloat(packet.data));
            colors.push(rndColor());
          });

          legend = true;
          if (chartType == 'line') {
            colors = "rgba(151,187,205,1)"
            legend = false;
          }

          var data1 = {
            labels: labels,
            datasets: [
              {
                data                  : data,
                backgroundColor       : colors,
                fillColor             : "rgba(151,187,205,0.2)",
                strokeColor           : "rgba(151,187,205,1)",
                pointColor            : "rgba(151,187,205,1)",
                pointStrokeColor      : "#fff",
                pointHighlightFill    : "#fff",
                pointHighlightStroke  : "rgba(151,187,205,1)"
              }
            ]
          };

          if (chartType == 'line') {
            var options = {
              responsive: true,
              title: {
                display: false,
              },
              legend: {
                display: false
              },
              scales: {
                yAxes: [{
                  ticks: {
                      min: 0,
                      suggestedMax: 100
                  }
                }]
              },
            }
          } else {
            var options = {
              responsive: true,
              title: {
                display: false,
              },
              legend: {
                display: legend,
                position: "bottom",
                labels: {
                  fontColor: "#333",
                  fontSize: 16
                }
              }
            }
          }

          var ctx1 = document.getElementById(chartCanvas).getContext("2d");

          var chart1 = new Chart(ctx1, {
            type: chartType,
            data: data1,
            options: options
          });

        });
      }
    </script>

    <h3>Company - by Month and by Project</h3>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <canvas id="companyLineChart" width="700" height="400"></canvas>
                <script>
                    drawChart('companyLineChart', '/api/chart/company/get/{{year}}', 'line');
                </script>
            </div>
            <div class="col-md-5">
            <canvas id="companyDonutChart" width="500" height="400"></canvas>
                <script>
                    drawChart('companyDonutChart', '/api/chart/company_project/get/{{year}}', 'doughnut');
                </script>
            </div>
        </div>
    </div>
    <br>

    <h3>Projects</h3>
    <div class="container">
        {% for project in all_projects %}
        <div class="col-md-6">
            <h4>{{ project.name }}</h4>
            <canvas id="project-{{project.id}}" width="600" height="250"></canvas>
            <script>
                drawChart('project-{{project.id}}', '/api/chart/project/get/{{project.id}}/{{year}}', 'line');
            </script>
        </div>
        {% endfor %}
    </div>

    <h3>Persons</h3>
    <div class="container">
        {% for user in all_users %}
        <div class="col-md-6">
            <h4>{{ user.name }}</h4>
            <canvas id="user-{{user.id}}" width="600" height="250"></canvas>
            <script>
                drawChart('user-{{user.id}}', '/api/chart/person/get/{{user.id}}/{{year}}', 'line');
            </script>
        </div>
        {% endfor %}
    </div>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js'></script>

{% endblock %}




