{% extends "base.html" %}

{% block app_content %}
    <h2>Project Admin</h2>
    <div hidden id="info" class="alert alert-info" role="alert"></div>
    <div hidden id="warning" class="alert alert-dismissible alert-danger" role="alert"></div>
    <div id="projects-table"></div>
    <div class="table-controls">
        <button id="add-row">Add Project</button>
    </div>

<script type="text/javascript">

var table = new Tabulator("#projects-table", {
    //height:300,
    layout:"fitDataFill",
    history:true,
    addRowPos:"bottom",
    fitColumns:true,
    columns:[
        {title:"ID", field:"id", visible:false},
        {title:"Project Name", field:"name", editor:"input", width:450},
        {title:"Remark", field:"remark", editor:"input", width:450},
        {title:"Is Inactive", field:"is_inactive", align:"center", editor:true, formatter:"tick", sorter:"boolean"},
        {formatter:"buttonCross", align:"center", title:"Delete?", headerSort:false, cellClick:function(e, cell){
                $( "#warning" ).hide();
                $( "#info" ).hide();
	            if(confirm('Are you sure you want to delete this project?')) {
                    var cellId = cell.getRow().getIndex();
                    $.ajax({
                       url: "/api/project/delete",
                       data: JSON.stringify({ 'id': cellId }),
                       type: "post",
                       success: function(response, textStatus, xhr){
                         //  $( "#info" ).text('server processing delete ok');
                         //  $( "#info" ).show();
                         table.setData("/api/project/get_all");
                       },
                       error: function(XMLHttpRequest, textStatus, error){
                         $( "#warning" ).text(error);
                         $( "#warning" ).show();
                       }
                    });
		        }
	        }
        }
    ],
    cellEdited:function(cell){
       //$( "#warning" ).hide();
       $( "#info" ).hide();

       var cellId = cell.getRow().getIndex();
       var f = cell.getField();
       var v = cell.getValue();

       $.ajax({
         url: "/api/project/update",
         data: JSON.stringify({ 'id': cellId, 'field': f, 'value': v }),
         type: "post",
         success: function(response, textStatus, xhr){
           // $( "#info" ).text('server processing update ok');
           // $( "#info" ).show();
         },
         error: function(XMLHttpRequest, textStatus, error){
           alert(error);
           //$( "#warning" ).text(error);
           //$( "#warning" ).show;
         }
       })
     },
});

table.setData("/api/project/get_all");

// Add row on "Add Row" button click
// Create new ID with call to /create_new_project and reload table-data
$("#add-row").click(function(){
    //$( "#warning" ).hide();
    //$( "#info" ).hide();

    $.ajax({
         url: "/api/project/add",
         data: JSON.stringify({ 'new': 0 }),
         type: "post",
         success: function(response, textStatus, xhr){
            $( "#info" ).text('Project [new] added. Please set a valid project name!');
            $( "#info" ).show();
            table.setData("/api/project/get_all");
         },
         error: function(XMLHttpRequest, textStatus, error){
           alert(error);
           //$( "#warning" ).text(error);
           //$( "#warning" ).show;
         }
    });
});

</script>


{% endblock %}