{% extends "base.html" %}

{% block app_content %}
    <h2>User Admin</h2>
    <div hidden id="info" class="alert alert-info" role="alert"></div>
    <div hidden id="warning" class="alert alert-dismissible alert-danger" role="alert"></div>
    <div id="users-table"></div>
    <div class="table-controls">
        <button id="add-row">Add Account</button>
    </div>

<script type="text/javascript">

var table = new Tabulator("#users-table", {
    //height:300,
    layout:"fitDataFill",
    history:true,
    addRowPos:"bottom",
    fitColumns:true,
    columns:[
        {title:"ID", field:"id", visible:false},
        {title:"Name", field:"name", editor:"input", width:200},
        {title:"Username", field:"username", editor:"input", width:150},
        {title:"Percent", field:"perc", editor:"input", width:100},
        //{title:"Email", field:"email", editor:"input", width:150},
        {title:"Is Admin", field:"is_admin", align:"center", editor:true, formatter:"tick", sorter:"boolean"},
        {title:"Is Inactive", field:"is_inactive", align:"center", editor:true, formatter:"tick", sorter:"boolean"},
        {title:"Set New Password", field:"password_hash", editor:"input", width:170},
        {title:"Remark", field:"remark", editor:"input", width:200},
        {formatter:"buttonCross", align:"center", title:"Delete?", headerSort:false, cellClick:function(e, cell){
                $( "#warning" ).hide();
                $( "#info" ).hide();
	            if(confirm('Are you sure you want to delete this user?')) {
                    var cellId = cell.getRow().getIndex();
                    $.ajax({
                       url: "/api/user/delete",
                       data: JSON.stringify({ 'id': cellId }),
                       type: "post",
                       success: function(response, textStatus, xhr){
                         //  $( "#info" ).text('server processing delete ok');
                         //  $( "#info" ).show();
                         table.setData("/api/user/get_all");
                       },
                       error: function(XMLHttpRequest, textStatus, error){
                         $( "#warning" ).text(error);
                         $( "#warning" ).show();
                       }
                    });
		        }
	        }
        }
    ],
    cellEdited:function(cell){
       //$( "#warning" ).hide();
       $( "#info" ).hide();

       var cellId = cell.getRow().getIndex();
       var f = cell.getField();
       var v = cell.getValue();

       $.ajax({
         url: "/api/user/update",
         data: JSON.stringify({ 'id': cellId, 'field': f, 'value': v }),
         type: "post",
         success: function(response, textStatus, xhr){
           // $( "#info" ).text('server processing update ok');
           // $( "#info" ).show();
         },
         error: function(XMLHttpRequest, textStatus, error){
           alert(error);
           //$( "#warning" ).text(error);
           //$( "#warning" ).show;
         }
       })
     },
});

table.setData("/api/user/get_all");

// Add row on "Add Row" button click
// Create new ID with call to /create_new_user and reload table-data
$("#add-row").click(function(){
    //$( "#warning" ).hide();
    //$( "#info" ).hide();

    $.ajax({
         url: "/api/user/add",
         data: JSON.stringify({ 'new': 0 }),
         type: "post",
         success: function(response, textStatus, xhr){
            $( "#info" ).text('User [new] added. Please set a valid user name!');
            $( "#info" ).show();
            table.setData("/api/user/get_all");
         },
         error: function(XMLHttpRequest, textStatus, error){
           alert(error);
           //$( "#warning" ).text(error);
           //$( "#warning" ).show;
         }
    });

});

</script>


{% endblock %}