{% extends "base.html" %}

{% block app_content %}
    <h2>Resource Planning by Person <a style="text-decoration:none" href="/?year={{year-1}}">&larr;</a>{{year}}<a style="text-decoration:none" href="/?year={{year+1}}">&rarr;</a></h2>
    <br/>
    <div hidden id="info" class="alert alert-info" role="alert"></div>
    <div hidden id="warning" class="alert alert-dismissible alert-danger" role="alert"></div>

    {% for user in all_users %}
        <h4 class="text-success">{{ user.name }} ({{ user.perc }}%)</h4>
        <div id="workload-table-{{user.id}}"></div>

        <div class="form-group">
          <select class="custom-select" name="addproject-{{ user.id }}">
            <option selected="">Add Project for {{ user.name }}</option>
            {% for project in all_projects %}
              <option value="{{ project.id }}">{{ project.name }}</option>
            {% endfor %}
          </select>
        </div>
        <br>

        <script type="text/javascript">

        var table{{user.id}} = new Tabulator("#workload-table-{{user.id}}", {
            //height:300,
            layout:"fitDataFill",
            history:true,
            addRowPos:"bottom",
            fitColumns:true,
            columns:[
                {title:"ID", field:"id", visible:false},
                {title:"Project", field:"name", width:250},
                {title:"Jan", field:"1", editor:"input", topCalc:"sum", headerSort:false, width:50},
                {title:"Feb", field:"2", editor:"input", topCalc:"sum", headerSort:false, width:50},
                {title:"Mar", field:"3", editor:"input", topCalc:"sum", headerSort:false, width:50},
                {title:"Apr", field:"4", editor:"input", topCalc:"sum", headerSort:false, width:50},
                {title:"May", field:"5", editor:"input", topCalc:"sum", headerSort:false, width:50},
                {title:"Jun", field:"6", editor:"input", topCalc:"sum", headerSort:false, width:50},
                {title:"Jul", field:"7", editor:"input", topCalc:"sum", headerSort:false, width:50},
                {title:"Aug", field:"8", editor:"input", topCalc:"sum", headerSort:false, width:50},
                {title:"Sep", field:"9", editor:"input", topCalc:"sum", headerSort:false, width:50},
                {title:"Oct", field:"10", editor:"input", topCalc:"sum", headerSort:false, width:50},
                {title:"Nov", field:"11", editor:"input", topCalc:"sum", headerSort:false, width:50},
                {title:"Dec", field:"12", editor:"input", topCalc:"sum", headerSort:false, width:50},
                {title:"Remark", field:"remark", editor:"input", headerSort:false, width:200},
                {formatter:"buttonCross", align:"center", title:"Delete?", headerSort:false, cellClick:function(e, cell){
                        $( "#warning" ).hide();
                        $( "#info" ).hide();
                        if(confirm('Are you sure you want to delete this workload?')) {
                            var cellId = cell.getRow().getIndex();
                            $.ajax({
                               url: "/api/workload/delete",
                               data: JSON.stringify({ 'user_id': {{ user.id }}, 'project_id': cellId }),
                               type: "post",
                               success: function(response, textStatus, xhr){
                                 //  $( "#info" ).text('server processing delete ok');
                                 //  $( "#info" ).show();
                               table{{user.id}}.setData("/api/workload_by_person/get/{{user.id}}/{{year}}");
                               },
                               error: function(XMLHttpRequest, textStatus, error){
                                 $( "#warning" ).text(error);
                                 $( "#warning" ).show();
                               }
                            });
                        }
                    }
                }
            ],
            cellEdited:function(cell){
               //$( "#warning" ).hide();
               $( "#info" ).hide();

               var cellId = cell.getRow().getIndex();
               var f = cell.getField();
               var v = cell.getValue();

               $.ajax({
                 url: "/api/workload/update",
                 data: JSON.stringify({ 'user_id': {{ user.id }}, 'year' : {{ year }}, 'project_id': cellId, 'field': f, 'value': v }),
                 type: "post",
                 success: function(response, textStatus, xhr){
                   // $( "#info" ).text('server processing update ok');
                   // $( "#info" ).show();
                 },
                 error: function(XMLHttpRequest, textStatus, error){
                   $( "#warning" ).text(error);
                   $( "#warning" ).show;
                 }
               })
             },
        });

        table{{user.id}}.setData("/api/workload_by_person/get/{{user.id}}/{{year}}");

        $('select[name="addproject-{{ user.id }}"]').change(function() {
               $.ajax({
                 url: "/api/workload/add",
                 data: JSON.stringify({ 'user_id': {{ user.id }}, 'project_id': $(this).val(), 'year': {{ year }} }),
                 type: "post",
                 success: function(response, textStatus, xhr){
                    table{{user.id}}.setData("/api/workload_by_person/get/{{user.id}}/{{year}}");
                 },
                 error: function(XMLHttpRequest, textStatus, error){
                   $( "#warning" ).text(error);
                   $( "#warning" ).show;
                 }
               })
        });

        </script>

    {% endfor %}

{% endblock %}